.modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
          span(aria-hidden="true") &times;
        h4.modal-title #{__('Synchronization issue')}
      .modal-body
        p {{ ::$ctrl.errorMessage | esnI18n }} #{__('Click Sync to fix.')}
      .modal-footer.flex
        .flex-vertical-centered.flex-end
          button.btn.btn-link(type="button", ng-click="$hide()")
            | #{__('Cancel')}
          button.btn.btn-primary(ng-click="$ctrl.sync(); $hide()")
            | #{__('Sync')}
