.james-quota-displayer.m-t-5
  .row
    .col-xs-6
      span.helper-text #{__('Data usage quota')}:
      span.text-center  {{$ctrl.quota.size > 0 ? ($ctrl.quota.size | bytes) : 'Unlimited' | esnI18n }}
    .col-xs-6
      span.helper-text #{__('Message count quota')}:
      span.text-center  {{$ctrl.quota.count > 0 ? $ctrl.quota.count.toString() : 'Unlimited' | esnI18n}}
